@use "../../../app/import.scss" as *;

.page {
  @include flex($direction: column);
  @extend %h-100;
  width: 100vw;

  // &__header{
  //   width: 100%
  // }

  &__wrapper {
    @include flex;
    flex: 1;
  }

  &__main {
    flex: 1;
    padding: 30px calc(32px + (100vw - 1440px) / 48); /* Default padding values with responsive adjustment */
    overflow: auto;
    height: calc(100vh - 66px);
    // border: 2px solid red;
  }
  
  /* Media query for screen width >= 1920px */
  @media screen and (min-width: 1440px) {
    &__main {
      padding: 30px 64px; /* Adjust padding to 64px for screen width 1440px and above */
    }
  }
  
  @media screen and (max-width: 1440px) {
    &__main {
      padding: 30px 32px; /* Adjust padding to 32px for screen width smaller than or equal to 1440px */
    }
  }


  &__content {
    max-width: auto;
    margin-inline: auto;
  }
}